bleach
envyaml>=0.1912
feedparser
genshi
https://github.com/edsu/htmldiff/tarball/master#egg=htmldiff-0.2
jinja2
peewee>=3.0
pillow
pytest
python-dotenv>=0.13.0
readability-lxml
requests
selenium
tweepy
